<tr id="<%= dom_id job %>">
  <td><%= job.code %></td>
  <td><%= job.name %></td>
  <td><%= link_to 'Show', job %></td>
  <td><%= link_to 'Edit', edit_job_path(job) %></td>
  <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
